body{
    background-color: powderblue;
    text-align: center;
    color:midnightblue;
    font-family:'Courier New', Courier, monospace;
}
a{
    color:rgb(40, 44, 48);
    text-decoration: line;
    
}
p a{
    color:midnightblue;
}
p{
    text-align: center;
}

a:hover{
    color:aliceblue;
    text-decoration: none;
}


main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

figure{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-style:italic;
}

img{
    width: 60%;
}