body {
    margin: 0;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background: url('../images/lindsayexperience.jpg') no-repeat center center/cover;
    color: rgb(187, 142, 83);
}

body header nav{
    color: white
}

header {
    background-color:burlywood;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 10;
}

header nav a {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #e96ebe;
}

.experience-main {
    min-height: 10vh;
    padding: 70px 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.experience-main h1 {
    font-size: 32px;
    color: burlywood;
    margin-bottom: 30px;
}

.experience-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.experience-container h1 {
    font-size: 32px;
    color: #e96ebe;
    margin-bottom: 30px;
}


.experience-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.experience-section h2{
    color: #e96ebe;
}

.experience-section strong{
    color: rgb(139, 179, 139);
}

.headshot {
    width: 280px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
}

.bio-text {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(187, 142, 83);
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}



