<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/lcabrie/">Charlotte.edu Webpage</a>
        ||
        <a href="https://github.com/LoriCabrie26/LoriCabrie26.github.io/tree/main">Github</a>
        ||
        <a href="https://loricabrie26.github.io/">Github.io</a>
        ||
        <a href="https://www.freecodecamp.org/LoriCabrie">Freecodecamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/LoriCabrie">Codecademy</a>
        ||
        <a href="https://www.linkedin.com/in/lori-cabrie/">LinkedIn</a>
    </nav>
    <p>Page built by <a href="../cabrieco.com/index.html">Cabrie Co.</a>&copy; 2025</p>
</footer>